# Pyython ka Chilla with #baba_Ammar
## How to use Jupyter Note Book
## Basics of Python
### **01- My first program**

In [3]:
print(2+3)
print("Hello World")
print("We are learning python with Ammar")

5
Hello World
We are learning python with Ammar

### **02- operators**

In [4]:
print(2+3)
print(3-1)
print(3*2)
print(6/2)
print(6//2)
print(13%2)
print(2**3)

print(3**2/2*3/3+6-4)

5
2
6
3.0
3
1
8
6.5

*PEMDAS
Parenthesis Exponents Multiply Divide Addition Subtraction
left to right sequence for M D & A S*

### **03- strings**

In [5]:
print("Hello World")
print("We are learning python with Ammar")
print('Test for single quotes')
print("Test for double quotes")
print('''test for triple quotes''')

print("what's up")
print("   what's up     ?")

Hello World
We are learning python with Ammar
Test for single quotes
Test for double quotes
test for triple quotes
what's up
   what's up     ?

### **04- comments**
The shortcut key to comments is **Ctrl+/**

In [6]:
print("How are you?") #press these to comment out (Ctrl+/)
print("We are learning python with Ammar") #print a string

print(2+8) # print operators function with numbers

How are you?
We are learning python with Ammar
10

### **05- variables**
**variables: objects containing speific values**
**Rules to assign a variable**
    
The variable should contain letters, numbers or underscores
    
Do not start with numbers
    
Spaces are not allowed
    
Do not use keywords used in functions (break, media, man, test, etc.)

Short and descriptive names for variables

Case sensitivity (lowercase, uppercase letters: lowercase letters should be used)

In [15]:
x=5 
print(x)

y="We are learning python with Ammar" 
print(y)

x=x+10 
print(x)

type(x)
print(type(x))

print(type(y))

5
We are learning python with Ammar
15
<class 'int'>
<class 'str'>

In [7]:
fruit_basket= 8
fruit_basket= "Mangoes"
print(type(fruit_basket))
print(fruit_basket)

<class 'str'>
Mangoes

### **04-input variables**

In [18]:
fruit_basket="Mangoes"
print(fruit_basket)

fruit_basket=input("what is your favourite fruit")
print(fruit_basket)

name= input("what is your name? ")
greetings="Hello!"

print(greetings, name)

name= input("what is your name? ")
print("Hello!", name)

name= input("What is your name? ")
age= input("How old are you? ")
greetings="Hello!"

print(greetings, name, "You are still young")

Mangoes

what is your favourite fruit Mango

Mango

what is your name?  Inaam

Hello! Inaam

what is your name?  Inaam

Hello! Inaam

What is your name?  Inaam
How old are you?  25

Hello! Inaam You are still young

### **07-conditional logics**

*logical operators are either "true or flase" or "yes or no" or "0 or 1"*

*equal to                        ==*

*not equal to                    !=*

*less than                       <*

*greater tham                    >*

*less than and equal to          <=*  

*greater than and equal to       >=*

In [23]:
print(4==4)
print(4!=4)
print(4>2)
print(6>7)
print(3<5)
print(4<1)
print(3<=5)
print(6<=3)
print(5>=4)
print(4>=7)

hammad_age=4
age_at_school=5
print(hammad_age==age_at_school)

age_at_school=5
hammad_age=input("How old is hammad? ") #input function
hammad_age=int(hammad_age)

True
False
True
False
True
False
True
False
True
False
False

How old is hammad?  6

### **08-type-conversion**

In [26]:
###### x=10                #integer
y=10.5              #float
z="Hello"           #string

print(type(x))
print(type(y))
print(type(z))

x=x+y
print(x,"Type of x is:", type(x))

age=input("What is your age? ")
print(type(age))    #type string
age=int(age)
print(type(age))
print(age, type(int(age))) # if age is in decimal than use float(age)

name=input("What is your name? ")
print(name, type(str(name)))

<class 'int'>
<class 'float'>
<class 'str'>
20.5 Type of x is: <class 'float'>

What is your age?  6

<class 'str'>
<class 'int'>
6 <class 'int'>

What is your name?  Inaam

Inaam <class 'str'>

### **09-if-elif-else function**

In [28]:
ramish_age=2
required_age_at_school=6
#question: can ramish go to school? 

if ramish_age==required_age_at_school:      
    print("Ramish can join the school")
elif ramish_age > required_age_at_school:
    print("Ramish should join higher secondary school")
elif ramish_age<=2:
    print("You should take care of Ramish, he is still a baby.")
else:                                        
    print("Ramish can not go to school")

You should take care of Ramish, he is still a baby.

### **10-defining functions**

In [39]:
#defining a function 

def print_test():
     print("We are learning with Ammar")
     print("We are learning with Ammar")
print_test()

def print_test():
    text="We are learning with Ammar Tufail"
    print(text)
    print(text)
    print(text)

print_test()

def print_test(text):
    print(text)
    print(text)
    print(text)

print_test("We are learning python with Ammar")

#4 definning a function with if, elif and else function
def school_calculator(age, text):
    if age==5: 
        print("Ramish can join the school")
    elif age>5:
        print("Ramish should go to higher school")
    else:
        print("Ramish is still a baby")

school_calculator(5, "Ramish")          # Ramish can join the school
school_calculator(15, "Ramish")         # Ramish should go to higher school
school_calculator(2, "Ramish")          # Ramish is still a baby

# school_calculator(2)

# defining a function of future

def future_age(age):
    new_age=age+20
    return new_age
    print(new_age)

future_predicted_age=future_age(18)
print(future_predicted_age)

We are learning with Ammar
We are learning with Ammar
We are learning with Ammar Tufail
We are learning with Ammar Tufail
We are learning with Ammar Tufail
We are learning python with Ammar
We are learning python with Ammar
We are learning python with Ammar
Ramish can join the school
Ramish should go to higher school
Ramish is still a baby
38

### **11-loops**

In [41]:
# while loops
x=0
while (x<5):
    print(x)
    x=x+1

# for loops
for x in range(5,10):
    print(x)

#array
days= ["Mon", "Tue", "Wed", "Thu", "Fri", "Sat", "Sun"]

for d in days:
    if(d=="Fri"):break  #loop stops
    if(d=="Fri"): continue #skips perticular component jesy idhr "Fri" ko skip kr dia
    print(d)

0
1
2
3
4
5
6
7
8
9
Mon
Tue
Wed
Thu

### **12-import-lobraries**

In [42]:
# if you want to print the value of pi          
# code will not run if there is any extra space between the start and line of code

import math
print("The value of pi is ", math.pi)

import statistics

x=[150,250,350,450]
print(statistics.mean(x))

# pandas, numpy are two major libraries

The value of pi is  3.141592653589793
300